.inp {
  display: flex;
  flex-direction: column;
  padding: 5px;
}
input {
  width: 30vw;
  transition: width 0.4s ease-in-out;
  margin-top: 4px;
}
input:focus {
  background-color: lightblue;
  border: 2px solid darkblue;
  font-weight: bold;
  width: 70vw;
}
textarea {
  border-radius: 5px;
}
/* textarea:focus {
  background-color: lightblue;
} */
.Educational input {
  width: auto;
}
input:checked {
  width: 30px;
  height: 30px;
}
select {
  background-color: #f1f1f1;
  border: 1px solid black;
  padding: 5px;
  border-radius: 4px;
}

.submit {
  background-color: #04aa6d;
  border: none;
  border-radius: 4px;
  font-size: 20px;
  padding: 5px;
  color: white;
}
.reset {
  background-color: red;
  border: none;
  border-radius: 4px;
  font-size: 20px;
  padding: 5px;
  color: white;
}
